
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: #E6E1DB;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.offersShow {
  height:100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}
.vetical {
  height: 100%;
  width: 40%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}
.descriptionShow {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  overflow: auto;
  background-color: white;
}
.encabezado {
  background-color: #0a66c2;
  border-top-left-radius: 10%;
  color: white;
}
.Dimage {
  width: 50px;
  height: 50px;
  display: flex;
  align-self: left;
  background-color: black;
}
.linkImage {
  width: 20px;
  height: 20px;
  display: flex;
  align-self: flex-end;
}
.Dbutton {
  width: 120px;
  height: 50px;
  display: flex;
  border-radius: 10%;
  background-color: #0a66c2;
  color: white;
  border-color: transparent;
  align-items: center;
}
.Dbutton2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
}
.Dbutton2:hover {
  cursor: pointer;
  background-color: lightblue;
  .letrabuena{
    text-decoration: underline;
    color: #0a66c2;
  }
}
.vertical2 {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.gris {
  color: gray;
  text-decoration: none;
}
.letrabuena {
  font-size: large;
  color: #0a66c2;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}